/* GENERIC CSS 
*
*
*
*/

.m-l-100 {
  margin-left: 100px;
}
.m-l-50 {
  margin-left: 50px;
}

.inp div.wrap div {
  position: relative;
  width: 40%;
  margin: 20px;
}

.inp label {
  position: absolute;
  font-weight: 300;
  top: 0;
  font-size: 20px;
  margin: 5px 15px;
  padding: 1 10px;
  -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.inp .active {
  top: -16px;
  font-size: 14px;
  font-weight: 300;
  color: #0880e8;
  padding: 0px 10px;
  background-color: white;
}

.inp input[type="text"] {
  width: 90%;
  height: 20px;
  padding: 20px;
  border: 1.2px solid #3b3535;
  border-radius: 4px;
  font-size: 20px;
  color: #72808c;
  transition: 0.8s;
}

.inp input[type="text"]:focus {
  outline: none;
  border: 2px solid #0880e8;
}

::-webkit-file-upload-button {
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  border: 1.2px solid black;
  color: black;
  height: 45px;
  width: 200px;
  transition: 0.8s;
}

::-webkit-file-upload-button:hover {
  background: #0880e8;
  border: 0.1px solid #0880e8;
  color: white;
  cursor: pointer;
  box-shadow: 0px 12px 22px 1px #333;
}

.btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  float: right;
  margin: 20px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #0880e8;
  background-color: white;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #0880e8;
}

.btn-get-started:hover {
  background: #0880e8;
  color: #fff;
  text-decoration: none;
}

.box-button {
  background-color: #fafaff;
  color: #444444;
  width: 200px;
  height: 45px;
  border: 0.2px solid white;
  border-radius: 2px;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  transition: 0.8s;
}

.box-button:hover {
  color: #0880e8;
  box-shadow: 0px 12px 22px 1px #333;
  background-color: #fafaff;
}

.box-v {
  background-color: #fafaff;
  color: #444444;
  width: 100px;
  height: 35px;
  border: 0.2px solid white;
  border-radius: 2px;
  font-size: 16px;
  padding-top: 7px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  transition: 0.8s;
}

.box-v:hover {
  color: #0880e8;
  box-shadow: 0px 12px 22px 1px #333;
  background-color: #fafaff;
}

.box-n {
  margin: 20px;
  background-color: #fafaff;
  color: #444444;
  width: 200px;
  height: 45px;
  border: 0.2px solid white;
  border-radius: 2px;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  float: right;
  margin-right: 15%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  transition: 0.8s;
}

.box-n:hover {
  color: #0880e8;
  box-shadow: 0px 12px 22px 1px #333;
  background-color: #fafaff;
}

.box-verify {
  background-color: transparent;
  color: #444;
  width: 100px;
  border: 2px solid #444;
  border-radius: 5px;
  height: 35px;
  font-size: 16px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  opacity: 0.6;
  transition: 0.8s;
}
.box-verify:hover {
  color: #fafaff;
  background-color: #444;
  opacity: 1;
}
/* Popup window */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  border-radius: 4px;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.modal-content.condition {
  width: 60%;
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px 16px;
  background-color: #0880e8;
  color: white;
  padding: 5px 20px;
}

.modal-header span {
  justify-self: flex-start;
}

.modal-header h4 {
  font-weight: 500;
  font-size: medium;
}
/* The Close Button */
.close {
  justify-self: flex-end;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 20px 16px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 10px;
  border: none;
}

.modal-footer button {
  width: fit-content;
  padding: 0.3em 1.2em;
  background-color: transparent;
  border-radius: 20vh;
  color: #0880e8;
  border: 1px solid #0880e8;
}

.modal-footer button:hover {
  background-color: #0880e8;
  color: white;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

@media (max-width: 992px) {
  .modal-content {
    width: 60%;
  }
}
@media (max-width: 768px) {
  .modal-content {
    width: 80%;
  }
}
@media (max-width: 568px) {
  .modal-content {
    width: 90%;
  }
}
/* POPUP WINDOW END */
/* Bubbles start */
.dots-wrapper {
  display: none;
  margin-top: 100px;
  margin-left: 60%;
  transform: translate(-50%, -50%);
}
.circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  animation: loading 1.5s cubic-bezier(0.8, 0.5, 0.2, 1.4) infinite;
  transform-origin: bottom center;
}
@keyframes loading {
  0% {
    transform: translateY(0px);
    background-color: #fff;
  }
  50% {
    transform: translateY(50px);
    background-color: #0880e8;
  }
  100% {
    transform: translateY(0px);
    background-color: #0880e8;
  }
}
.circle-1 {
  animation-delay: 0.1s;
}
.circle-2 {
  animation-delay: 0.2s;
}
.circle-3 {
  animation-delay: 0.3s;
}
.circle-4 {
  animation-delay: 0.4s;
}
.circle-5 {
  animation-delay: 0.5s;
}
.circle-6 {
  animation-delay: 0.6s;
}
.circle-7 {
  animation-delay: 0.7s;
}
.circle-8 {
  animation-delay: 0.8s;
}

/* Bubbles End */

/* TABLE START */

table {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  box-shadow: 0px 12px 22px 1px #333;
  border-radius: 10px;
  overflow: hidden;
  width: 75%;
}

th,
td {
  padding: 10px;
}

#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
  background-color: #fff;
}
#t01 th {
  background-color: #848484;
  color: white;
}
/* TABLE END */
/* IMPORT PAGE 
*
*
*
*/

/* IMPORT PAGE END */

/* SCHEMA PAGE 
*
*
*
*/

.portfolio-item .left-wala {
  padding: 50px;
  width: 40%;
  float: left;
}

.portfolio-item .right-wala {
  padding: 50px;
  width: 60%;
  float: right;
}

.box {
  position: relative;
}

.box select:hover {
  color: #0880e8;
  box-shadow: 0px 12px 22px 1px #333;
  background-color: #fafaff;
}

.box select {
  background-color: #fafaff;
  color: #444444;
  padding: 5px;
  width: 150px;
  border: 0.2px solid white;
  border-radius: 2px;
  font-size: 16px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}
.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 3px;
}

/* SCHEMA PAGE END */

/* TRAIN MODEL
*
*
*
*
*/
.train-model {
  display: block;
  margin: 30px 20px;
}

.train-model h4,
.train-model p {
  display: block;
}

.train-model p {
  margin-left: 20px;
}

.train div.wrap div {
  position: relative;
  min-width: 300px;
  width: 40%;
  margin: 20px;
}

.train label {
  position: absolute;
  top: -25px;
  font-size: 20px;
  font-weight: 300;
  color: #000000;
  margin: 5px 15px;
  padding: 0 10px;
  background-color: white;
}

.train input[type="text"] {
  width: 90%;
  height: 20px;
  padding: 20px;
  border: 1.2px solid #3b3535;
  border-radius: 5px;
  font-size: 20px;
  color: #72808c;
}

.train input[type="text"]:focus {
  outline: none;
}

/* TRAIN MODEL END */

/* TEST MODEL
*
*
*
* 
*/
.test-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  overflow: visible;
}

.test-container .left-part {
  justify-content: flex-start;
  display: inline-block;
  width: 30vw;
}

.test-container .right-part {
  justify-content: flex-end;
  display: inline-block;
  width: 70vw;
}

#export-block {
  display: block;
}

#batch-block {
  display: none;
}

#single-item-block {
  display: block;
}
#local-block {
  display: none;
}

#local-block #error {
  color: red;
  display: none;
}

.batch-data .inp {
  display: inline-block;
}

.batch-data .inp div.wrap div {
  position: relative;
  width: 100%;
  margin: 7px 20px;
}

.batch-data .inp label {
  position: absolute;
  font-weight: 300;
  top: 0;
  font-size: 18px;
  margin: 7px 15px;
  padding: 2px 10px;
  -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.batch-data .inp .active {
  top: -16px;
  font-size: 14px;
  font-weight: 300;
  color: #0880e8;
  padding: 0px 10px;
  background-color: white;
}

.batch-data .inp input[type="text"] {
  width: 90%;
  height: 20px;
  padding: 20px;
  border: 1.2px solid #3b3535;
  border-radius: 4px;
  font-size: 20px;
  color: #72808c;
  transition: 0.8s;
}

.batch-data .inp input[type="text"]:focus {
  outline: none;
  border: 2px solid #0880e8;
}

.test-visualize {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.test-visualize a {
  justify-content: flex-start;
}

.test-visualize button {
  justify-content: flex-end;
}

/* TEST END */
