{% extends 'base_face.html'%} {% block body %}
<section
  style="height: 30vh"
  id="hero"
  class="d-flex justify-cntent-center align-items-center"
></section>

<br /><br />
<section id="portfolio" class="portfoio">
  <div class="container" data-aos="fade-up">
    <!-- Training Parameter Start -->
    <div id="training-parameters">
      <h3 class="animate__animated animate__fadeInDown">
        <span>Train your model</span>
      </h3>
      <div class="train">
        <div class="wrap">
          <div>
            <label for="github">Model name</label>
            <input
              id="github"
              type="text"
              value="{{model.name}}"
              class="cool"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="train-model">
        <h4 class="animate__animated animate__fadeInDown">Summary</h4>
        <p><strong>Model name :</strong> <em>{{model.name}}</em></p>
        <p><strong>Input Instances :</strong> {{data.0}}</p>
        <p><strong>Input Labels :</strong> {{data.1}}</p>
      </div>
      <button
        id="train-face-recognizer-button"
        type="button"
        class="box-button animate__animated animate__fadeInUp scrollto margin-left-100"
      >
        Train Model
      </button>
      <div>
        <a
          id="prev-button"
          href="{% url 'image_face' %}"
          style="float: left; margin-top: 70px"
          class="btn-get-started animate__animated animate__fadeInUp scrollto"
          >Previous</a
        >
        <a
          id="next-button"
          href="{% url 'test_face' %}"
          style="margin-top: 70px"
          class="btn-get-started animate__animated animate__fadeInUp scrollto"
          >Next</a
        >
      </div>
    </div>
    <!-- Training Parameters End -->

    <!-- Traing Progress Bubbles start -->
    <div class="dots-wrapper" id="dots-wrapper">
      <span class="circle circle-1"></span>
      <span class="circle circle-2"></span>
      <span class="circle circle-3"></span>
      <span class="circle circle-4"></span>
      <span class="circle circle-5"></span>
      <span class="circle circle-6"></span>
      <span class="circle circle-7"></span>
      <span class="circle circle-8"></span>
    </div>
    <!-- Training Process Bubbles End -->
  </div>
</section>

<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-body">
      <p>
        <em
          >Some of your image have no faces to recognize or very low image
          quality. Check them and try again.</em
        >
      </p>
      <br />
    </div>
    <div class="modal-footer">
      <button name="okey" id="okey" type="button">Okey</button>
    </div>
  </div>
</div>

<script>
  var button = document.getElementById("okey");

  button.onclick = function () {
    document.querySelector("#myModal").style.display = "none";
    document.querySelector("#prev-button").click();
  };
</script>

<script>
  document
    .querySelector("#train-face-recognizer-button")
    .addEventListener("click", function () {
      document.querySelector("#training-parameters").style.display = "None";
      document.querySelector("#dots-wrapper").style.display = "block";
      $.ajax({
        type: "GET",
        url: "/fr/training-ongoing/",
        datatype: "json",
        data: {
          id: "{{model.id}}",
          csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
        },
        success: function () {
          document.querySelector("#dots-wrapper").style.display = "None";
          document.querySelector("#next-button").click();
        },
        error: function () {
          document.querySelector("#myModal").style.display = "block";
        },
      });
    });
</script>

{% endblock %}
