{% extends 'base_clf.html'%}
{% block body %}
{% load static %}
<style>
.inp div.wrap div {
  position: relative;
  width: 150%;
}

.inp label {
  position: absolute;
  font-weight: 300;
  top: 0;
  font-size: 20px;
  margin: 5px 15px;
  padding: 1 10px;
  -webkit-transition: top .2s ease-in-out, 
                      font-size .2s ease-in-out;
  transition: top .2s ease-in-out, 
              font-size .2s ease-in-out;
}

.inp .active {
  top: -16px;
  font-size: 14px;
  font-weight: 300;
  color: #0880e8;
  padding: 0px 10px;
  background-color: white;
}


.inp input[type=text] {
  width: 90%;
  height: 20px;
  padding: 20px;
  border: 1.2px solid #3b3535;
  border-radius: 4px;
  font-size: 20px;
  color: #72808c;
} 

.inp input[type=text]:focus {
  outline: none;
  border: 2px solid #0880e8;
}

table {
  margin-bottom: 30px;
  width: 200%;
  border-collapse: collapse;
  box-shadow: 0px 12px 22px 1px #333;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 10px; 
}

#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: #848484;
  color: white;
}

.portfolio-item .left-wala {
  padding: 50px;
  width: 20%;
  float: left;

}

.portfolio-item .right-wala{
  padding-left: 50px;
  width: 80%;
  float: right;
}

.column {
  width: 22.5%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}


img {
  margin: 10px;
}
.selected {
  border: solid 3px #0880e8;
  box-shadow: 0px 12px 22px 1px #333;
}

/* Parent Container */
.content_img{
 position: relative;
 float: left;
}

/* Child Text Container */
.content_img div{
  display:flex;
 position: absolute;
 bottom: 7vh;
 background: black;
 color: white;
 font-family: sans-serif;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img:hover{
 cursor: pointer;
}

.content_img:hover div{
 width: 95%;
 margin-left: 10px;
 padding: 8px 15px;
 visibility: visible;
 opacity: 0.7; 
}

.box {
  
}

.box select:hover{
  color: #0880e8;
  box-shadow: 0px 12px 22px 1px #333;
  background-color: #fafaff;
}

.box select {
  background-color: #fafaff;
  color: #444444;
  padding: 10px;
  width: 200px;
  height: 45px;
  border: 0.2px solid white;
  border-radius: 2px;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box select option {
  padding: 30px;
}

.box-button{
  background-color: #fafaff;
  color: #444444;
  padding: 10px;
  width: 200px;
  height: 45px;
  border: 0.2px solid white;
  border-radius: 2px;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box-button:hover{
  color: #0880e8;
  box-shadow: 0px 12px 22px 1px #333;
  background-color: #fafaff;
}

.box-v{
  background-color: #fafaff;
  color: #444444;
  padding: 10px;
  width: 100px;
  height: 45px;
  border: 2px solid black;
  margin-left:70px;
  border-radius: 10px;
  font-size: 16px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box-v:hover{
  color: white;
  box-shadow: 0px 12px 22px 1px #333;
  background-color: black;
}

.box-r{
  background-color: #fafaff;
  color: #444444;
  padding: 10px;
  width: 200px;
  height: 45px;
  border: 0.2px solid white;
  border-radius: 2px;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box-r:hover{
  color: red;
  box-shadow: 0px 12px 22px 1px #333;
  background-color: #fafaff;
}

.scroll {   
  width: 60vw; 
  height: 75vh; 
  overflow-x: hidden; 
  overflow-y: auto; 
  text-align:justify; 
} 

#myDIV {
  width: 98%;
  text-align: center;
  background-color: white;
  border:3px solid #0880e8;
  border-radius:10px;
  margin-top: 20px;
}


</style>


<section style = "height : 30vh"id="hero" class="d-flex justify-cntent-center align-items-center"></section>

<br><br>
  <!-- ======= Portfoio Section ======= -->
<section id="portfolio" class="portfoio">
      <div class="container" data-aos="fade-up">
        <div class="row portfolio-container">

                  <!-- IMAGES -->
                  <div  class="portfolio-item filter-schema">
                    <div class = "left-wala">
                      <div>
                        <table>
                        {% for d in discription %}
                          <tr>
                            <td>{{d.0}}</td>
                            <td>{{d.1}}</td>
                          </tr>
                        {% endfor %}
                        </table>
                      </div>
                    </div>

                    <div class = "right-wala">
                      <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
              

                          <div class='images-buttons-top'>
                              <a href="{% url "import_clf" %}" class="box-button animate__animated animate__fadeInUp scrollto">Add images</a>
                              <button type="submit" name='delete' value="True" class="box-r animate__animated animate__fadeInUp scrollto">Delete</a>
                            </div>
                        
                          <div class = "scroll">
                          {% comment %} <div style="margin-left:100px; height:100%;" class="row"> {% endcomment %}
                            <div style="margin-left:100px;" class="row">
                              {% for image in images %}  
                                <div class="column content_img">
                                  <input type='checkbox' id='chb{{image.0}}' value="{{image.0}}" name="selected_img" hidden>
                                  <label for='chb{{image.0}}'>
                                    <img src="{{image.0}}" style="width:100%;">
                                  </label>
                                  <div>{{image.1}}</div>
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                          <button type="submit" value='{{img_index}}' name='last-images' class="box-button animate__animated animate__fadeInUp button-margins-previous">Previous</button>
                          <button type="submit" value="{{img_index}}" name='next-images' class="box-button animate__animated animate__fadeInUp button-margins-next">Next</button>
                            
                      </form> 
                    </div>
                
                  <a href="{% url 'train_clf' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Next</a>
                </div>
                
        </div>
      </div>
</section>
<!-- End Portfoio Section -->

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
  $('img').click(function() {
    //New Code replaced here
    $(this).toggleClass('selected');
  });
</script>

<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>


{% endblock %}

